/* styles.css
Author: Samuel Lopes
Date: 2024-05-31 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

table {
    border-collapse: collapse;
    max-width: 400px;
    max-height: 200px;
    margin: 0 auto;
    border: none;
    border-radius: 0px;
    overflow: hidden;
}

td, th {
    border: 0px solid #898484;
    align-items: center;
    padding: 0;
    margin: 0;
    max-width: 100px;
    max-height: 100px;
}

img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}


